{% extends 'base.html.twig' %}

{% block body %}
    {% if homePageEnabledPages is defined %}
        <div class="container">
            <h3>Special pages</h3>
            {% for page in homePageEnabledPages %}
                <a href="/page/{{ page.id }}" class="btn btn-link">{{ page.navigationText }}</a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}