{% extends 'base.html.twig' %}

{% block body %}
    {% if homePageEnabledPages is defined %}
        <div class="container">
            <div class="d-flex flex-column" >
                <div class="d-flex justify-content-center w-100">
                    <h1>Bilzer Duikclub Dolfijn</h1>
                </div>
                <hr class="my-3 " style="width:50%" color="lightgray"/>
                <div class="d-flex justify-content-between w-100">
                    <p class="text-center">
                        Welkom op de website van Bilzer Duikclub Dolfijn.
                        <br/>
                        <br/>
                        Wil je leren duiken of gewoon gezellig duiken in een aangename clubsfeer, dan zit je hier goed.
                        <br/>
                        <br/>
                        Wij zijn in de eerste plaats een gezellige duikclub die sportduikers
                        alle mogelijkheden geeft om hun hobby uit te oefenen.
                        Daarnaast is Dolfijn ook een duikschool met ervaren instructeurs en duikers
                        die met veel plezier helpen bij de eerste en verdere stappen onder water.
                        <br/>
                        <br/>
                        Onze thuisbasis is het Stedelijk Zwembad De Kimpel in Bilzen. <a href="https://www.google.com/search?q=kimpel&oq=kimpel&aqs=chrome..69i57j0l7.1927j0j4&sourceid=chrome&ie=UTF-8&tbs=lrf:!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:2&tbm=lcl&sxsrf=ALeKk00enXsIj2B6xSVd_eSWoYOcnUTxmA:1612452073814&rflfq=1&num=10&rldimm=18091021996829287327&lqi=CgZraW1wZWxIqv2mnOaAgIAIWhoKBmtpbXBlbBAAGAAiBmtpbXBlbCoECAIQAJIBD2N1bHR1cmFsX2NlbnRlcg&ved=2ahUKEwjiyM6IxNDuAhWB2KQKHd_HD8QQvS4wBXoECAIQIQ&rlst=f#rlfi=hd:;si:18091021996829287327,l,CgZraW1wZWxIqv2mnOaAgIAIWhoKBmtpbXBlbBAAGAAiBmtpbXBlbCoECAIQAJIBD2N1bHR1cmFsX2NlbnRlcg;mv:[[50.86610397731903,5.51245626352307],[50.865744022680964,5.51188593647693]]">(toon kaart)</a>
                        Daar wordt elke dinsdagavond van 21u30 tot 22u30 geoefend.
                        We stellen hiervoor allerhande materiaal gratis ter beschikking.
                        <br/>
                        <br/>
                        Op deze site vind je alle info over Dolfijn,
                        zoals een kalender met uitstappen,de laatste nieuwtjes enz...
                        <br/>
                        <br/>
                        Veel Plezier ermee ;-)
                    </p>
                </div>

            </div>
            <div class="jumbotron">
                <h3 class="display-4 text-center">Paginas</h3>
                <hr class="my-4">
                <div class="d-flex justify-content-around flex-wrap">


                        <div class="col-md-6 p-2">
                            {% for page in homePageEnabledPages %}
                            <a href="/page/{{ page.id }}">
                            <div class="button-content border rounded" style="background-image: url('{{ asset('uploads/') ~ page.picturePath }}');">
                                <table class="button-table w-100">
                                    <tbody><tr>
                                        <td class="text-center">
                                            <h1 class="card-title centered headerTitle">{{ page.navigationText }}</h1>
                                        </td>
                                    </tr>
                                    </tbody></table>
                            </div>
                            </a>
                            {% endfor %}
                        </div>


                </div>
            </div>

        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}