{% extends 'base.html.twig' %}

{% block body %}
    <h4>Info: Leren duiken</h4>
    <p>
        Wil jij eens kennis maken met het "onderwatergevoel"?
        Neem gerust contact met ons op! Je kan ons bellen of mailen. Wij nodigen je uit voor een gratis initiatie met alle bijbehorende informatie betreffende lidgeld, verzekering, clubwerking, gebruik van materiaal enz.

        Wij trainen elke dinsdagavond van 21u45 tot 22u45 in het Stedelijk Zwembad De Kimpel in Bilzen. (Toon kaart)

        Bovendien kan je een aantal keren gratis komen trainen alvorens je aansluit bij onze club. Om komen kennis te maken hoef je niets te kopen. Wij stellen het clubmateriaal gratis ter beschikking!

        Twijfel je nog? Zet gewoon die stap en kom proberen! Je bent bij ons in goede handen! De club beschikt over heel wat ervaren duikers en lesgevers die je geduldig begeleiden naar je eerste brevet.

        Mail ons of bel ons!


        Tot binnenkort!!</p>
{% endblock %}

{% block javascripts %}

{% endblock %}