{% extends 'base.html.twig' %}

{% block body %}
    {% if submitted %}
        <div class="alert alert-info centered">
            Uw inschrijving is ontvangen en word behandeld.
        </div>
    {% endif %}
    <div class="container " >
        <div class="d-flex flex-column" >
            <div class="d-flex justify-content-center w-100">
                <h2>Gratis duikinitiatie</h2>
            </div>
            <p>
                Wil je vooraf al eens proberen tijdens een gratis initiatie in het zwembad te Bilzen dan kan dat. Je krijgt er ondermeer uitleg over de verschillende opleidingen, het lidmaatschap, de kosten, ... Daarna bieden we je de mogelijkheid om een en ander eens in het water uit te proberen en om zelfs met een duikfles rond te zwemmen.
                </p>
            <div class="d-flex justify-content-center w-100">
                <h2>Leren duiken</h2>
            </div>
            <p>
                Denk je er ook over na om met duiken te beginnen, of twijfel je nog als het wel iets voor jou zou kunnen zijn? Aarzel dan niet en schrijf je in voor een gratis proefles.
                Nogal wat mensen kiezen voor een eerste duikinitiatie tijdens een vakantie in één of ander tropisch duikparadijs. Hoewel dit voor een aantal mensen een prachtige ervaring kan zijn, keren er sommigen ook wel eens met minder goede ervaringen naar huis. Inderdaad, zelfs een initiatie is niet iets dat licht opgevat kan worden. Je verblijf onder water vergt toch wel wat voorbereiding en een professionele begeleiding.

                Regelmatig organiseren wij in het zwembad initiaties in de duiksport. Tijdens deze sessies krijg je wat meer uitleg over hoe onze sport precies in elkaar zit, nemen we je mee in het zwembad waar je enkele cruciale basistechnieken worden bijgebracht, en kan je een tijdje - onder begeleiding van een ervaren instructeur - met de flessen duiken.
                Voor deze initiaties voorzien we het nodige materiaal. Het enige dat je zelf dient mee te brengen is je zwemgerief.
                Leer eerst hier duiken om er straks op vakantie ten volle van te kunnen genieten.
                Ben je achteraf nog niet overtuigd, kom gerust nog eens langs voor een gratis 2de en een 3de les. Je kunt deelnemen aan deze initiatie wanneer je 14 jaar of ouder bent.

                Om de initiatie vlot te laten verlopen, hebben we wel enkele gegevens van je nodig:
            </p>
        </div>
    </div>
    {% if not submitted %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ header }}</h5>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block javascripts %}

{% endblock %}