.banner-content{
    z-index: 1;
    position: relative;
    color: #f6f6f6;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.topBackgroundImage {
    background: linear-gradient(#004092, #020202, transparent);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

body{
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerImage{
    left: 0;
    object-fit: cover;
    width: 100% !important;
    max-height: 450px;
}

.headerTitle{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    max-width: 500px;
}

.albumCover{
    min-height: 200px;
    background-size: cover;
}

.foto-link, .foto-link:visited, .foto-link:hover, .foto-link:active {
    text-decoration: none;
    color: white;
    display: block;
}

.button-text {
    color: white;
    font-size: 2.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}